
@{ Layout = "~/Views/Shared/_Layout.cshtml";}
<div id="notfound">    
    <div class="notfound">        
        <div class="notfound-404">            
            <h1>404</h1>            
            <h2>Page not found</h2>        
        </div>        
    <a asp-controller="Home" asp-action="Index" style="width:200px">Homepage</a>    
    </div>
</div>