@model InvoiceVM
@{
    ViewData["Title"] = "Invoice";
}

<div class="container">
    <div class="col-md-6">
        <div class="row">
            <h2>@Model.Address</h2>
        </div>
        <div class="row">
            <h2>@Model.PaymentType</h2>
        </div>

    </div>
</div>

